{% load staticfiles %}
<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block head_title %} MY SITE {%  endblock head_title %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" />
        {% block head_extra %}{% endblock %}
    </head>

    <style>{% block style %}{% endblock style %}</style>
     <body>

       <div class="top-bar">
         <div class="top-bar-left">
            <a style="color:grey" href="/">MY_SITE</a>
         </div>
         <div class="top-bar-right">
           <h4><small> A Tech Blog </small></h6>
         </div>
       </div>

        {% block content %}

        {% endblock content %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    </body>
</html>
